{% extends "index.html" %}{% block title %}Sign-up{% endblock %}{% block content %}
<!-- <h1>This is the Sign up Page</h1> -->

<form action="" method="POST">
    <h3 align="center">Sign up</h3>
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text"
        class="form-control"
        id="first-name"
        name="first-name"
        placeholder="Enter first-name"

        />
    </div>

   <div class="form-group">
       <label for="second-name">Second Name</label>
       <input type="text"
       class="form-control"
       id="second-name"
       name="second-name"
       placeholder="Enter second-name"
       />
       
    </div>

    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Email"
        required
        />
    </div>

    <div class="form-group">
        <label for="pswrd1">Password</label>
        <input type="password"
        class="form-control"
        id="pswrd1"
        name="pswrd1"
        placeholder="Enter Password"/>
    </div>

    <div class="form-group">
        <label for="pswrd2">Confirm Password</label>
        <input type="password"
        class="form-control"
        id="pswrd2"
        name="pswrd2"
        placeholder="Enter Password"/>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}
